<!DOCTYPE html>
{% set ADMIN = 5 %}
{% set METHODIST = 4 %}
{% set COUNSELOR = 3 %}
{% set CAMPER = 2 %}
{% set USER = 1 %}

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Личный кабинет</title>
  </head>

  <body>
    <h1>{{ user.role.value }} {{ user.username }}</h1>
    <br />
    <script>
      function adBalance() {
        event.preventDefault()
      
        var messageField = document.getElementById('addField')
        var form = new FormData(document.forms.addBalance)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/admin/add-balance')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            var resp = JSON.parse(xhr.responseText)
            if (xhr.status == 201) {
              messageField.style.display = 'block'
              messageField.style.color = 'green'
              messageField.innerHTML = resp.message
            } else if (xhr.status == 400 || xhr.status == 403) {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = resp.message
            } else {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = 'Неизвестная ошибка, обратитесь к администратору'
            }
          }
        }
        xhr.send(form)
      }
      function getCode() {
        event.preventDefault()
      
        var messageField = document.getElementById('getCodeField')
        var form = new FormData(document.forms.getCodeForm)
        console.log(form.get('squad_id'))
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/get-code')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            var resp = JSON.parse(xhr.responseText)
            if (xhr.status == 201) {
              messageField.style.display = 'block'
              messageField.style.color = 'green'
              messageField.innerHTML = resp.message
            } else if (xhr.status == 400 || xhr.status == 403) {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = resp.message
            } else {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = 'Неизвестная ошибка, обратитесь к администратору'
            }
          }
        }
        xhr.send(form)
      }
    </script>

    <h2>Обновление балансов:</h2>
    <form name="addBalance" onsubmit="adBalance()">
      <label for="addSquad">Номер отряда:</label>
      <select name="squad_id" id="addSquad" required>
        <option hidden disabled selected value="">выберите отряд</option>
        {% for squad in squads %}
          <option value="{{ squad.id }}">{{ squad.number }}</option>
        {% endfor %}
      </select>

      <fieldset>
        <legend>Действие (списать или прибавить):</legend>
        <label for="add_radio">Начислить</label>
        <input type="radio" name="type" id="add_radio" value="deposit" checked />
        <label for="sub_radio">Списать</label>
        <input type="radio" name="type" id="sub_radio" value="withdraw" />
      </fieldset>

      <label for="addAmount">Сумма:</label>
      <input type="number" name="amount" id="addAmount" required min="0" />
      <label for="addReason">Основание:</label>
      <input type="text" name="reason" id="addReason" />
      <input type="submit" value="Применить" />
    </form>

    <div id="addField"></div>

    <br />
    <h2>Получение кода для регистрации вожатых:</h2>
    <form name="getCodeForm" onsubmit="getCode()">
      <label for="squad_id">Отряд:</label>
      <select name="squad_id" id="squad_id" required>
        <option hidden disabled selected value="">выберите отряд</option>
        {% for squad in squads %}
          <option value="{{ squad.id }}">{{ squad.number }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Получить код" />
    </form>

    <div id="getCodeField" style="margin-top:15px;"></div>
    <a href="/logout"><button style="margin-top: 40px;">Выйти</button></a>
  </body>
</html>
