<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль</title>
    <script>
      function chngOwner() {
        event.preventDefault()
      
        var messageField = document.getElementById('ownerField')
        var form = new FormData(document.forms.changeOwner)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/admin/change-station-owner')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            var resp = JSON.parse(xhr.responseText)
            if (xhr.status == 201) {
              console.log(resp.station_name)
              document.getElementById('addSquad').value = document.getElementById('chngSquad').value
              document.getElementById('addAmount').value = resp.price * -1
              document.getElementById('addReason').value = 'покупка станции ' + resp.station_name
              messageField.style.color = 'green'
              messageField.innerHTML = resp.message
            } else if (xhr.status == 401) {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = resp.message
            } else {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = 'Неизвестная ошибка, обратитесь к администратору'
            }
          }
        }
        xhr.send(form)
      }
      
      function adBalance() {
        event.preventDefault()
      
        var messageField = document.getElementById('addField')
        var form = new FormData(document.forms.addBalance)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/admin/add-balance')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status == 201) {
              messageField.style.display = 'block'
              messageField.style.color = 'green'
              messageField.innerHTML = JSON.parse(xhr.responseText).message
            } else if (xhr.status == 401 || xhr.status == 400) {
              messageField.style.display = 'block'
              messageField.style.color = 'red'
              messageField.innerHTML = JSON.parse(xhr.responseText).message
            }
          }
        }
        xhr.send(form)
      }
    </script>
  </head>

  <body>
    <h1>Админ {{ user.username }}</h1>

    <form name="changeOwner" onsubmit="chngOwner()">
      <label for="chngStation">Станция:</label>
      <select name="station" id="chngStation">
        {% for station in stations %}
          <option value="{{ station.id }}">{{ station.line.number }} {{ station.name }}</option>
        {% endfor %}
      </select>
      <label for="chngSquad">Новый владелец:</label>
      <select name="squad" id="chngSquad">
        <option value="-1">Нет владельца</option>
        {% for squad in squads %}
          <option value="{{ squad.id }}">{{ squad.name }} отряд</option>
        {% endfor %}
      </select>
      <input type="submit" value="Изменить" />
    </form>

    <div id="ownerField"></div>

    <br />
    <br />

    <form name="addBalance" onsubmit="adBalance()">
      <label for="addSquad">Номер отряда:</label>
      <select name="squad" id="addSquad" required>
        <option hidden disabled selected value>выберите отряд</option>
        {% for squad in squads %}
          <option value="{{ squad.id }}">{{ squad.name }}</option>
        {% endfor %}
      </select>

      <label for="addAmount">Изменить сумму на:</label>
      <input type="number" name="amount" id="addAmount" required />
      <label for="addReason">Основание:</label>
      <input type="text" name="reason" id="addReason" />
      <input type="submit" value="Применить" />
    </form>

    <div id="addField"></div>

    <a href="/logout"><button>Выйти</button></a>
  </body>
</html>
