<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/main.css" />

    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/static/css/small.css" />
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="/static/css/large.css" />

    <style>
      td {
        height: 50px;
        width: 300px;
      }
    </style>
  </head>

  <body>
    <div class="ta-center">
      <img class="logo" src="/static/images/logo.png" alt="Логотип ДОЛ «Дружба»" />
    </div>
    <h1 style="margin-bottom: 20px;">Схема метрополитена «Дружба»</h1>
    <div class="ta-center" style="margin-bottom: 40px;">
      <a class="map" href="/static/images/map.jpg" title="Открыть схему в новой вкладке" target="_blank"><img class="image map" id="metroMap" src="/static/images/map.jpg" alt="Схема метрополитена «Дружба»" /></a>
    </div>

    <h2>Информация о линиях и станциях</h2>
    <div style="margin-bottom: 40px; margin-top: 20px;">
      <h3 style="font-weight: normal;">При покупке всех станций, принадлежащих одной линии, их стоимость умножается на данный коэффициент.</h3>
      <h3 style="font-weight: normal;">Для просмотра стоимости станций нажмите на название линии.</h3>
    </div>

    <table class="ta-center tab-center" id="cssTable" border="1" style="margin-bottom: 40px;">
      <tr>
        <th style="font-size: 150%;">Название линии</th>
        <th style="font-size: 150%;">Коэффициент</th>
      </tr>
      {% for line in lines %}
        <tr>
          <td>
            <a href="/line/{{ line.number }}">{{ line.name }}</a>
          </td>
          <td>{{ line.full_line_coef }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="ta-center">
      <a href="/bought-stations"><button style="margin-top: 40px; margin-bottom: 80px;">Посмотреть купленные станции</button></a>
    </div>

    <h2 style="margin-bottom: 40px;">Балансы составов</h2>
    <table class="ta-center tab-center" border="1" style="margin-bottom: 80px;">
      <tr>
        <th style="font-size: 150%;">Отряд</th>
        <th style="font-size: 150%;">Баланс</th>
      </tr>
      {% for squad in squads %}
        <tr>
          <td>
            <a href="/squad/{{ squad.name }}">{{ squad.name }}</a>
          </td>
          <td>{{ '{:,}'.format(squad.wallet.current_balance).replace(',', ' ') }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="ta-center">
      <a href="https://t.me/metro_drugba" style="font-size: 75%;">А для самых внимательных тут будут новости, связанные с сайтом</a>
    </div>
  </body>
</html>
