<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аутентификация</title>
    <script>
      function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password')
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'
      }
      function sendRequest() {
        event.preventDefault()
      
        var form = new FormData(document.forms.auth)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/auth')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
              location.href = '/profile'
            } else if (xhr.status == 401) {
              var errorField = document.getElementById('errorField')
              errorField.style.display = 'block'
              errorField.style.color = 'red'
              errorField.innerHTML = JSON.parse(xhr.responseText).message
            }
          }
        }
        xhr.send(form)
      }
    </script>
  </head>

  <body>
    <h2>Вход в систему</h2>
    <form name="auth" onsubmit="sendRequest();">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required />
      <button type="button" onclick="togglePasswordVisibility()">Показать пароль</button>
      <br />
      <input type="submit" value="Войти" />
    </form>
    <div id="errorField" style="display: none;"></div>

    <a href="/reg"><button>Зарегистрироваться</button></a>
  </body>
</html>
