<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <script>
      function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password')
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'
      }
      
      function sendRequest() {
        event.preventDefault()
      
        var form = new FormData(document.forms.register)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/register')
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status == 201) {
              location.href = '/profile'
            } else if (xhr.status == 400 || xhr.status == 501) {
              var errorField = document.getElementById('errorField')
              errorField.style.display = 'block'
              errorField.style.color = 'red'
              errorField.innerHTML = JSON.parse(xhr.responseText).message
            }
          }
        }
        xhr.send(form)
      }
    </script>
  </head>

  <body>
    <h2>Регистрация</h2>
    <form name="register" onsubmit="sendRequest();">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required />
      <button type="button" onclick="togglePasswordVisibility()">Показать пароль</button>
      <br />
      <label for="code">Код подтверждения:</label>
      <input type="text" id="code" name="code" required />
      <br />
      <label for="role">Роль:</label>
      <select id="role" name="role_str" required>
        <option hidden disabled selected value="">выберите</option>
        {% for role in roles %}
          <option value="{{ role.name }}">{{ role.value }}</option>
        {% endfor %}
      </select>
      <br />
      <label for="squadNumber">Номер состава:</label>
      <select name="squad_number" id="squadNumber" required>
        <option hidden disabled selected value="">выберите</option>
        {% for squad in squads %}
          <option value="{{ squad.number }}">{{ squad.number }}</option>
        {% endfor %}
      </select>
      <br />
      <input type="submit" value="Зарегистрироваться" />
    </form>
    <div id="errorField" style="display: none;"></div>

    <a href="/login"><button>Войти</button></a>
  </body>
</html>
