<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Состав №{{ squad.name }}</title>
  </head>
  <body>
    <h1>Состав №{{ squad.name }}</h1>
    <h2>Баланс состава: {{ '{:,}'.format(squad.wallet.current_balance).replace(',', ' ') }}</h2>
    <table class="ta-center tab-center" border="1" style="margin-top: 40px;">
      <tr>
        <th>Линия</th>
        <th>Название станции</th>
        <th>Стоимость</th>
      </tr>
      {% for station in squad.stations %}
        <tr>
          <td>{{ station.line.number }}</td>
          <td>{{ station.name }}</td>
          <td>{{ '{:,}'.format(station.initial_price).replace(',', ' ') }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="ta-center">
      <a href="/"><button style="margin-top: 40px; margin-bottom: 80px;">На главную</button></a>
    </div>
  </body>
</html>
