<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Отряд {{ squad.name }}</title>
  </head>
  <body>
    <h1>Отряд {{ squad.name }}</h1>
    <h2>Баланс отряда: {{ '%0.0f'|format(squad.wallet.balance / 1000) }} 000</h2>
    <table class="ta-center tab-center" border="1" style="margin-top: 40px;">
      <tr>
        <th>Линия</th>
        <th>Название станции</th>
      </tr>
      {% for station in squad.stations %}
        <tr>
          <td>{{ station.line.number }}</td>
          <td>{{ station.name }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
